.container form {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form input, .container form button,.container form select {
  height: 2.5rem;
  width: 20rem;
  border-radius: 15px;

}

.container form table button {
  height: 1.5rem;
  width: 10rem;
  border: none;
}



.container form span input{
  width: 15rem;
}
.container form span button{
  width: 5rem;
}




.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form button{
  margin-top: 1rem;
}
.botao{
  width:1rem;
}
