@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.container {
  font-family: 'Roboto';
  font-weight: 600;
  
  background:linear-gradient(#1f1c2b 30%,#191622 );
}
.container form {
  width:1000px;
  min-height:calc(100vh - 5rem );
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E1E1E6;
  border-radius: 0 0 2rem 2rem;
}

.container form label:first-child{
  margin-top: 3.5rem;
}

.container form input, .container form button,.container form select {
  height: 3.5rem;
  width: 50rem;
  border-radius: 15px;
  border:none;
  background-color: #1c1c1c;
  font-family: 'Roboto';
  font-weight: 600;
  color:#fff;
  font-size: 1.35rem;
  text-align-last: center; /* para chrome */
}
.container form input, .container form select{
  margin: 1rem 0;
}



.container form table tr td button {
  height: 3rem;
  width: 10rem;
  margin-top: -1rem;
  background:#be193e;
  height:3rem;
}

.container form div{
  text-align: center;
}
.container form table tr th {
  font-size: 1.5rem;
  padding:0 1rem 0 1rem;
  background:#1f1c2b;
}
.container form table tr th , .container form table tr td{
  color: white;
  padding:1.5rem;
  border-radius: 0.5rem;
}

.container form table tr td {
  background:#483C67;
  font-size: 1.25rem;
  
  
  
}

.container form label{
  margin-top: 1rem;
  display:flex;
  align-items:center;
  padding:1rem;
  font-weight: 700;
  font-size: 1.5rem;
  height: 3.5rem;
  width: 50rem;
  border-radius: 15px;
  background: #f3f2f5;
  
  
}

.container form button{
  background:#3cb371;
  font-weight: 700;
}

.container form span input{
  width: 34rem;
}
.container form span button{
  width: 15rem;
  margin-left:1rem;
  background:#be193e;
}
.container table {
  width:1000px;
  margin-bottom: 1rem;
}
.container form table tr td button {
 height: 4rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1010px) {

  .container form {
    width: 100%;
  }

  .container form  table{
    width: 100%;
  }

  .container form table  tr td,
  .container form table  tr th{
    font-size: 1rem;
    
  }
}


@media (max-width: 800px) {
  .container form input,
  .container form label,
  .container form select,
  .container form button{
    width:30rem;
    font-size:1rem;
  }
  .container form span button{
    width:9rem;
  }
  .container form span input{
    width:20rem;
  }

  .container form table  tr td,
  .container form table  tr th{
    padding:0.5rem;
    
  }
  .container form table tr td button{
    height:3rem;
    margin-top: 0.3rem;

  }
  }

  @media (max-width: 500px) {
    .container form input,
  .container form label,
  .container form select,
  .container form button{
    width:25rem;
  }
  .container form span button{
    width:4rem;
  }
  .container form span input{
    width:20rem;
  }
  .container form table  tr td,
  .container form table  tr th{
    padding:0;
    
  }
  
  }
 



